<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Office Shield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="dark-cyber-bg">
    <div class="container">
        <h1 class="text-gradient-blue">OFFICE SHIELD</h1>
        <h1 class="text-gradient">Upload a file</h1>
        <h2 class="text-gradient-red"> docx | xlsx | pptx </h2>
        <form method="POST" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" accept=".docx, .xlsx, .pptx" id="file-upload" onchange="displayFileName(this)">
            <label for="file-upload">Browse</label>
            <input type="submit" value="Upload">
        </form>
        <p id="file-name"></p> <!-- Add a paragraph to display the selected file name -->
        {% if analysis_status %}
        <p class="result-value">{{ analysis_status }}</p>
        {% endif %}
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
    </div>

    <script>
        function displayFileName(input) {
            const fileName = input.files[0].name;
            document.getElementById('file-name').textContent = `Selected file: ${fileName}`;
        }
    </script>
</body>
</html>
